/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
	*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td{margin:0; padding:0}
	table{border-collapse:collapse; border-spacing:0}
	fieldset, img{border:0}
	address, caption, cite, code, dfn, em, strong, th, var{font-style:normal; font-weight:normal}
	ol, ul, li{list-style:none}
	caption, th{text-align:left}
	h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
	q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
	strong{font-weight:bold}
	em{font-style:italic}
	a img{border:none} /* Gets rid of IE's blue borders */
                           
/* ----------
  Site Styes
/* ----------
                             
/* stock presentation items */
	.clear{clear:both;}
	
/* typography */
	body{font-family:Univers, Arial, Helvetica, sans-serif; font-size:11px;}	
	
/* stock styles on site */
	/* headings */
		h1{font-weight:bold; font-size:1.8em;}
		h2{font-weight:bold; font-size:1.6em;}
		h3{font-weight:bold; font-size:1.4em;}
		h4{font-size:1.2em;}

body{background:url(../images/bg-slice.png) repeat-x #320a11; width:960px; padding:10px; margin:0 auto;}
a{padding:2px;}

/* header */
	#header h2{color:#000; font-size:2em; margin:20px 0 0 0;}

/* content */
	#content{margin:40px 0; background:#FFF; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
		#content .user{padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #6e1b29;}
		#content .book-owner{float:left; width:200px; font-size:1.8em;}
		#content .books-owned{float:right; width:690px; font-size:1.2em; border-left:1px solid #6e1b29; padding:0 10px;}
                
/* forms */

    form .field input, form .field textarea{width:300px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:1px solid #999; padding:2px;}
    form .field input:hover, form .field input:active, form .field input:focus, form .field textarea:focus, form .field textarea:active, form .field textarea:hover{background:#DFE5E5;}
    form .submit input{margin:5px 0; padding:2px; border:1px solid #999; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}