<div id="post">
  <h3 class="post_title"><%= link_to post.title, post %></h3>
  <div class="post_body">
    <%=h post.body %>
  </div><!-- end post_body -->
</div><!-- end post -->
<% if admin? %>
  <p><%= link_to 'Edit', edit_post_path(post) %></p>
<% end %>
